:root {
    /* variables (use units for calc!) */
    --cell-spacing: 0px;
    --border-width: 1px;
    --x-padding: 1rem;

    --line-height: 1.6;
    --font-size: 1rem;
    --table-font: monospace;

    --border-color: #bbb;
    --table-background: #fff;
    --space-color: var(--table-background);
    --table-alt-background: #eee;
    --table-type-color: #222;
    --hover-color: rgba(0, 255, 255, 1);
    --target-color: rgba(255, 255, 0, 1);

    /* calculated variables */
    --cell-height: calc(var(--line-height) * var(--font-size) + var(--cell-spacing) + var(--border-width));
}

* {
    box-sizing: border-box;
}

/* Default table styling */
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    display: grid;
    grid-template-columns: max-content auto;
}

table {
    position: relative;
    border-spacing: var(--cell-spacing);
    font-family: var(--table-font);
    font-size: var(--font-size);
    width: 100%;
    overflow: hidden;
    color: var(--table-type-color);
}

th,
td {
    position: relative;
    line-height: var(--line-height);
    padding: 0 var(--x-padding);
    outline: var(--cell-spacing) solid var(--space-color);
    border-bottom: var(--border-width) solid var(--border-color);
    white-space: nowrap;
}

tfoot td,
th {
    background-color: var(--table-background);
}

tbody tr:last-child th,
tbody tr:last-child td {
    border-bottom: none;
}

/* Highlight target */
table *:target,
tbody tr:target th
{
    background-color: var(--target-color);
}

/* Highlights on hover */
table tbody tr:not(:target):hover th:not(:target),
table tbody tr:not(:target):hover td:not(:target) {
    background-color: var(--hover-color);
}

table tbody tr th:hover:not(:first-child)::after,
table tbody tr td:hover:not(:first-child)::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -100vh;
    bottom: -100vh;
    z-index: 1;
    background-color: var(--hover-color);
    mix-blend-mode: multiply;
    pointer-events: none;
}

/* Sticky cells */
.sticky-cell {
    position: sticky;
}

.sticky-row .sticky-cell {
    z-index: 1;
}

.sticky-footer .sticky-row .sticky-cell {
    border-top: var(--border-width) solid var(--border-color);
    border-bottom: none;
    bottom: 0;
}

.sticky-header .sticky-row:nth-child(1) .sticky-cell {
    top: calc(0 * var(--cell-height));
}

.sticky-header .sticky-row:nth-child(2) .sticky-cell {
    top: calc(1 * var(--cell-height));
}

.sticky-header .sticky-row:nth-child(3) .sticky-cell {
    top: calc(2 * var(--cell-height));
}

.sticky-header .sticky-row:nth-child(4) .sticky-cell {
    top: calc(3 * var(--cell-height));
}

.sticky-column {
    left: 0;
    z-index: 2;
}

.sticky-row .sticky-column.sticky-cell {
    z-index: 3;
}

/* Overflow container */
.table-container {
    overflow: auto;

    /* Add padding so the thead does not overlap the first rows when scrolled */
    scroll-padding: 50%;
}