:root {
    /* variables */
    --cell-spacing: 0px;
    --border-width: 1px;
    --x-padding: 1rem;

    --line-height: 1.6;
    --font-size: 1rem;
    --table-font: monospace;

    --space-color: #ddd;
    --table-background: #fff;
    --table-alt-background: #eee;
    --table-type-color: #222;
    
    /* calculated variables */
    --cell-height: calc(var(--line-height) * var(--font-size) + var(--cell-spacing));
}

* {
    box-sizing: border-box;
}

/* Default table styling */
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    display: grid;
    grid-template-columns: max-content auto;
}

table {
    position: relative;
    border-spacing: var(--cell-spacing);
    font-family: var(--table-font);
    font-size: var(--font-size);
    width: 100%;
}

th,
td {
    /* background-color: white; */
    line-height: var(--line-height);
    padding: 0 var(--x-padding);
    outline: var(--cell-spacing) solid var(--space-color);
    border-bottom: var(--border-width) solid var(--space-color);
    margin-bottom: var(--border-width);
    margin-top: calc(var(--border-width) * -1);
}

tfoot td,
th {
    color: var(--table-type-color);
    background-color: var(--table-background);
}

/* Sticky header and footer */
tfoot tr th,
tfoot tr td,
thead tr th,
tbody tr th {
    position: sticky;
    z-index: 1;
    white-space: nowrap;
}

tfoot tr th,
tfoot tr td {
    border-top: var(--border-width) solid var(--space-color);
    border-bottom: none;
    bottom: 0;
}

/* Sticky row positions */
thead tr:nth-child(1) th {
    top: calc(0 * var(--cell-height) + 0 * var(--border-width));
}

thead tr:nth-child(2) th {
    top: calc(1 * var(--cell-height) + 1 * var(--border-width));
}

thead tr:nth-child(3) th {
    top: calc(2 * var(--cell-height) + 2 * var(--border-width));
}

thead tr:nth-child(4) th {
    top: calc(3 * var(--cell-height) + 3 * var(--border-width));
}

/* sticky first columns */
tbody tr th:first-child {
    position: sticky;
    left: 0;
}

/* Sticky top-left cell */
thead tr th:first-child,
tfoot tr th:first-child {
    z-index: 2;
    left: 0;
}

/* Highlight target */
table *:target,
tbody tr:target th
{
    background-color: yellow;
}

/* Highlights on hover */
table tbody tr:hover th, 
table tbody tr:hover td {
    background-color: cyan;
}

/* Overflow container */
.table-container {
    overflow: auto;
    
    /* Add padding so the thead does not overlap the first rows when scrolled */
    scroll-padding: 50%;
}