form, fieldset {
	display: grid;
	grid-auto-columns: 100%;
	gap: var(--size);
}

legend {
	font-weight: bold;
	font-family: var(--font-heading);
}

label {
	display: block;
}

input {
	border: 1px solid var(--color-muted);
}

input[type="number"] {
	text-align: right;
	font-family: var(--font-number);
}