body {
	display: grid;
	grid-template-columns: 1fr max-content;
	grid-template-rows: 1fr;
	gap: var(--size-xl);
	padding: var(--size-xl);

	height: 100%;
	width: 100%;
}

aside {
	display: grid;
	grid-auto-columns: 100%;
	grid-auto-rows: min-content;
	gap: var(--size-l);
}

.grid {
	display: grid;
	grid-auto-columns: 100%;
	grid-auto-rows: min-content;
	gap: var(--size-s);
}